{include file='common/header' /}

<div>
    <div class="container" style="padding: 368px 0;">
        <div class="rows">
            <div class="rows-items">
                <div>电话</div>
                <div>021-88888888 021-88888888</div>
            </div>
            <div class="rows-items">
                <div>业务手机</div>
                <div>15800000000</div>
            </div>
            <div class="rows-items">
                <div>邮箱</div>
                <div>youxiang@163.com</div>
            </div>
        </div>

    </div>
</div>

{include file='common/footer' /}