<footer>
    <div class="container ft">
        <div class="ft-flex">
            <div><img class="ft-logo" src="/images/logo/hd-logo.png" alt=""></div>
            <div>
                <ul>
                    <li><a href=""></a>菜单</li>
                    <li><a href=""></a>产品展示</li>
                    <li><a href=""></a>新闻动态</li>
                    <li><a href=""></a>联系方式</li>
                    <li><a href=""></a>登录/注册</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>服务保障</li>
                    <li>七天无理由退换货</li>
                    <li>消费者保障服务</li>
                    <li>一赔三</li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            ©浙江省残联 2023嘉兴
        </div>
    </div>

</footer>
</body>

</html>