{include file='common/header' /}


<div>
    <div class="container">
        <h1 class="bd-title goods-title">
            <a href="{:url('/index/index')}">首页</a> &nbsp;&gt;&nbsp;
            产品购买
        </h1>
        {foreach name='data' item='v'}
        <div class="dateil-flex">
            <div><img src="/images/{$v.path}" alt=""></div>
            <div>
                <div>{$v.shopname}</div>
                <div class="price-txt">￥{$v.price}</div>
                <div style="position: relative; top: 100px;">
                    <div class="num-box">
                        <div class="sub">-</div>
                        <div class="numsss">1</div>
                        <div class="add">+</div>
                    </div>
                </div>
                <a href="{:url('/cart/join',['id'=>$v.id])}" id="{$v.id}" class="join-cart">加入购物车</a>
            </div>
        </div>
        {/foreach}
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.add').click(function (id) {
            $('.numsss').text((parseFloat($('.numsss').html()) + 1));
        });
        $('.sub').click(function (id) {
            if (parseFloat($('.numsss').html()) > 1) {
                $('.numsss').text((parseFloat($('.numsss').html()) - 1));
            }
        });
        // $('.join-cart').click(function (id) {
        //     $.get('/cart/join'),{numss: '123',id:},function(res){
        //         console.log(res);
        //     };
        // });
    });
</script>


{include file='common/footer' /}